h1,
h2,
footer {
  font-family: "Dela Gothic", cursive;
  text-align: center;
  vertical-align: middle;
}
h1 {
  font-family: "Caprasimo", cursive;
}
main {
  font-family: "Comfortaa", serif;
}

header {
  border: transparent;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  background-color: #d8c4b6;
}

p {
  padding: auto;
}

div {
  box-sizing: border-box;
}
.main_paragraph1 {
  background-color: #074f57;
  background-image: url("../AutoCar-website/images/pexels-new.jpg");
  background-size: cover;
  background-blend-mode: lighten;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
}
.main_paragraph2 {
  background-color: #d8c4b6;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
}
.auto_models {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.auto_models div {
  width: 30%;
  height: 400px;
  padding: 5px;
  border-radius: 2px;
}

summary {
  color: #4f709c;
  font-family: "Comfortaa", cursive;
  font-weight: 400;
}

.main-section {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
}
.btn {
  width: 400px;
  padding: 10px 20px;
  margin: 25px;
  border: 1px;
  border-radius: 10px;
  background-color: #d8c4b6;
  height: 50px;
  font-weight: 600;
  color: #444;
  text-transform: uppercase;
  text-decoration: none;
}
nav {
  font-family: "Dela Gothic", cursive;
}
nav ul {
  padding: 0 25px;
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;
  position: relative;
}
nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
}
nav a:hover {
  color: #000;
}

nav a::before {
  content: "";
  height: 5px;
  background-color: #4f709c;
  position: absolute;
  width: 0%;
  top: 0;
}
nav a:hover::before {
  width: 100%;
}

button:hover {
  color: grey;
  font-weight: 600;
}
.services {
  display: flex;
  justify-content: center;
}
div {
  display: flex;
  flex-flow: column nowrap;
}
.dealer {
  display: inline-block;
}

.container {
  display: flex;
  justify-content: center;
  padding: 4px;
}
.minor_headings {
  margin: 0px;
}
.header-title {
  font-family: "Caprasimo", cursive;
  background-color: #213555;
  border-radius: 10px;
  border-bottom: 5px solid #d8c4b6;
  padding: 30px;
  margin-top: 0px;
}

.btn:hover {
  font-weight: 400;
}
.reach-us {
  width: 45%;
  padding: 10px;
  margin: 0px;
  background-color: #4f709c;
  border-radius: 4px;
}
.contact-us {
  display: flex;
  justify-content: space-between;
  border: 1px transparent;
  border-radius: 5px;
  width: 100%;
}
.contact-us__info,
.contact-us__form {
  background-color: #d8c4b6;
  border-radius: 10px;
  margin-bottom: 8px;
}
.contact-us__info {
  width: 25%;
}
.contact-us__form {
  width: 73%;
}
.contacts {
  padding: 20px;
}

.container {
  background-color: #4f709c;
  width: 450px;
  margin: auto;
}
.container_list {
  list-style: none;
}

.icons_links {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
}
.models {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-column1 {
  justify-content: flex-start;
}
.form-input {
  margin-top: 15px;
}
.input {
  border: 1px transparent;
  height: 20px;
}
.label {
  padding-left: 10px;
}
.container_form {
  display: flex;
  justify-content: space-evenly;
  padding: 4px;
  background-color: #4f709c;
}
.submit_btn {
  width: 150px;
  border-radius: 4px;
}
.text_area {
  width: 400px;
  height: 270px;
}
